.search-users {
  margin-top: 10px;
  display: inline;
  width: 300px;
}

.search-field {
  width: 25%;
  padding: 5px;
  font-size: 16px;
}

.user-list {
  padding: 0;
  width: 100%;
  margin-top: 40px;
}

figure {
  margin: 0 auto;
  display: inline-block;
  align-items: center;
  font-family: sans-serif;
  width: 20%;
  padding: 5px;
  border-bottom: 1px solid grey;
  border-right: 2px solid lightgray;
}

img {
    border-radius: 50%;
    margin: 5px;    
    width: 60px;
    height: 60px
}

figcaption {
  font-size: 15px;
  font-weight: bold;
}

a {
  position: relative;
  float: right;
}
